html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: aquamarine
}


h1{
   
  font-variant: small-caps;
  text-align: center;
  
    
}
div.slider{
    text-align: center;
    margin-top: 100px
 }
 *{
     margin: 0px;
     padding: 0px
 }
.main{
     width: 90%;
     max-width: 1000px;
     margin:20px auto;
     overflow: hidden;
 }
 .slidesjs-pagination{
     background: grey;
    height:39px;
   
 }

 .slidesjs-pagination ul {
     list-style: none;
     overflow: hidden;
    
 }
 ul.slidesjs-pagination li {
   
    display:inline-block;
  
 }
 ul.slidesjs-pagination li a {
     display:inline;
     padding: 10px 20px;
     text-decoration: none

 }
 .slidesjs-navigation{
     background: black;
     color: white;
     text-decoration: none;
     display: inline-block;
     padding:10px 20px;
     float: right
       }